.main {
  text-align: center;
}

.totalLikes {
  font-size: 25px;
  margin-top: 10px;
}

.charContainer {
  width: 600px;
  margin: auto;
  padding-top: 10px;
}

.charCard {
  background-color: yellow;
  display: flex;
  height: 200px;
  /* width: 500px; */
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.charImg {
  width: auto;
  height: 100%;
}
